{
	"data_dir": "{{ consul_data }}",
	"server": true,
	"encrypt": "{{ consul_encrypt }}",
{% if consul_advertise_addr is defined %}	"advertise_addr": "{{ consul_advertise_addr }}",
{% endif %}
	"bootstrap_expect": {{ consul_group | default(' ') | length }},
{% if consul_bind_addr is defined %}	"bind_addr": "{{ consul_bind_addr }}",
{% endif %}
	"client_addr": "{{ consul_client_addr | default('127.0.0.1') }}",
	"node_name": "{{ ansible_hostname }}",
	"disable_update_check": true
}
