# {{ ansible_managed }}
[Unit]
Description=Consul database server
Documentation=https://www.consul.io/docs/
After=network.target
ConditionFileNotEmpty=/etc/consul.json
OnFailure=unit-failed@%n.service

[Service]
Type=simple
ExecStart=/usr/bin/consul agent -config-file=/etc/consul.json
ExecReload=/bin/kill -HUP $MAINPID
# Security
User=consul
Group=consul
UMask=0077
CapabilityBoundingSet=
NoNewPrivileges=true
InaccessiblePaths=-/home -/root
ReadOnlyPaths=/etc/consul.json
ReadWritePaths={{ consul_data }}
PrivateTmp=true
PrivateDevices=true
ProtectSystem=strict
ProtectKernelTunables=true
ProtectKernelModules=true
# Watchdog
Restart=always
TimeoutStartSec=20s

[Install]
WantedBy=multi-user.target

# vi: ft=systemd:
